@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Allow global scrolling */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

:root {
  --primary-color: #4339cb;
  /* New Primary */
  --secondary-color: #4339cb;
  /* Matched to Primary */
  --accent-color: #FFFFFF;
  /* White */
  --text-color: #333;
  --bg-color: #f4f7f9;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}